/* Circular Content Carousel Style */
@mixin ca_width{
	width:180px;
}
.ca-container{
	position:relative;
	margin:25px auto 20px auto;
	width:995px;
	height:202px;
}
.ca-wrapper{
  height: 100%;
  position: relative;
  width: 96%;
  margin:0 15px;
}
.ca-item{
	margin:0 5px;
	position:relative;
	float:left;
	width: 190px;
	height:100%;
	text-align:center;
	.ca_product{
		width:180px;
		background: #000;
		opacity: 0.5;
		color:#FAFAFA;
		overflow: auto;
	  margin: -52px 0 0 0px;
	  overflow: auto;
	  position: absolute;
	  p{
			margin : 5px;
			float:left;font-size:12px;
			text-align:left;
		}
		p.like,p.likebutton{
			float:right;
			text-align:right;
			width:40px;
		}
		.like{
			color:#FFB405;
		}
		.likebutton{
			a{
				color:#FFF;
			}
		}
		.title,.price{width:110px;}
	}
	.ca_product_details{
		@include ca_width;
		margin:0 10px;
	}
	.ca_product_image{
		@include ca_width;
		height:200px;
	}
}
.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:660px;
	overflow:hidden;
}
.ca-content-text{
	font-size: 14px;
	font-style: italic;
	font-family: "Georgia","Times New Roman",serif;
	margin:10px 20px;
	padding:10px 20px;
	line-height:24px;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#000;
	font-family: 'Coustard', sans-serif;
	color:#60817a;
	border-bottom:2px solid #99bcb4;
	text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{
	width:13px;
	height:38px;
	background:transparent url('/assets/colosal/arrows.png') no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}