- unless @comment.blank?
	$("#{escape_javascript(render 'comment',:comment=>@comment)}").insertBefore($("#comments#{@comment.product_id}").children('#new_comment'));
	$("#comments#{@comment.product_id}").next('form').reset();
